<div class="chat">
  <div class="chat-title">
    <h2>Chat</h2>
    <figure class="avatar">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/3b/57/0c/3b570c039bfc8640276ede7e3f5d778c.jpg" /></figure>
  </div>
  <ul class="messages"></ul>
  <%= form_for @message, remote: true do |f| %>
  <div style="display:none">
    <%= hidden_field_tag :socket_id %>
  </div>
    <%= f.text_area :message %>
    <%= f.submit 'Send' %>
  <% end %>
  </div>
<div class="bg"></div>
