<!DOCTYPE html>
<html>
<head>
	<title>Uno - game</title>
	<%= javascript_include_tag "application" %>
</head>
<body>
<div class="row">
	<div class="col-md-8">
		<div id="game_container">
			<div id="table">
				<%= image_tag "utils/table.png", :id => "table" %>
				<%= image_tag "utils/uno_button_2.png", :id => "uno_button" %>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<%# ERB.new("../messages/index.html.erb").result(binding) %>
		<%#= render "messages/chat" %>
	</div>
</div>

<script id="hand_template" type="text/x-handlebars-template">
	<div id="hand">
	</div>
</script>

<script type="text/javascript">

var test_structure = document.getElementById("hand_template").innerHTML;

var template = Handlebars.compile(test_structure);

Handlebars.registerHelper("getCardImg", function(cardNo, id){
	cardNo = Handlebars.Utils.escapeExpression(cardNo);
	id = Handlebars.Utils.escapeExpression(id);
	//var cardImage = "test";//'<img id="'+ id +'" src="../../public/images/cards/card_' + cardNo + '.png">';
	var cardImage = '<td>image_tag("cards/card_' + cardNo + '.png")</td>'

	return new Handlebars.SafeString(cardImage);

	//{{#each cards}}
	//{{getCardImg card id}}
	//{{/each}}
});

var test_vars = template({
	cards: [
		{card: "001", id: "card"},
		{card: "002", id: "card"},
		{card: "003", id: "card"},
		{card: "004", id: "card"},
		{card: "005", id: "card"},
		{card: "006", id: "card"},
		{card: "007", id: "card"}
	]
});

document.getElementById("table").innerHTML += test_vars;

</script>

</body>
</html>