	<!DOCTYPE html>
<html>
<head>
	<title>Uno - game</title>
</head>
<body>
<div class="row">
	<div class="col-md-8">
		<div id="game_container">
			<div id="table">
				<%= image_tag "utils/table.png", :id => "table" %>
				<%= image_tag "utils/uno_button_2.png", :id => "uno_button" %>
			</div>
			<div id="hand">
			</div>

		</div>
	</div>
	<div class="col-md-4">
		<%# ERB.new("../messages/index.html.erb").result(binding) %>
		<%#= render "messages/chat" %>  
		<%= button_to 'Start', { :controller => "games", :action => "update"}, :remote => true %>	
	</div>
</div>



</body>
</html>