
<h1>These are the rules of UNO</h1>
<ul id="rules">
	<li>At the start of every game each player draws 7 cards from the deck</li>
	<li>The goal is to discard all the cards in your hand</li>
	<li>There are 4 different colors in the deck, and every color has the number 0 to 9, as well as   three action cards: “Skip”, “Reverse” and “Draw 2” cards in the corresponding color, there are 2 of each card except for the number 0.</li>
	<li>There are “Wild” and “Wild draw 4”  cards, that allow the option to change the color on the table.</li>
	<li>At start of the game the first card on top of the deck is the starting card which will put on top of the discard pile, it will have one of the colors: Green, Red, Blue, or Yellow.</li>
	<li>And the players have to have a same color card or a card with the same number as the card in another color or an action card in a different color: (“Skip”, “Draw 2” or “Reverse”) , in order to be able to put it on the table. </li>
	<li>If they don't, they have the option to draw one card.</li>
	<li>If they are able to put the card they drew on to the table, they can, if not it's the next player's turn .</li>
	<li>If a player plays a “Skip” card, the next player have to miss his turn.</li>
	<li>If a player plays “Draw 2”, the next player have to draw 2 cards from the deck and miss his turn.</li>
	<li>If a player plays “Reverse”, the order of the players turn is reversed</li>
	<li>When a player plays “Wild draw 4” (Which is only possible if the player has no cards of the same color as the top card in the discard pile), the next player has to draw four cards and miss his turn.</li>
	<li>When a player has 1 card left, the player has to press the UNO button before the next player plays a card, if the player with 1 card left forgets to do so, the player would have to draw 2 cards. </li>
	<li>The game is finished when one player has discarded all of his cards.</li>
</ul>